* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

:root {
    --black: rgb(24, 24, 24)
}

body {
    background: var(--black);
}

.main {
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

#loader {
    font-size: 32px;
    color: grey;
}

#loader:after {
    font-family: serif;
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(4, end) 1000ms infinite;
    animation: ellipsis steps(4, end) 1000ms infinite;
    content: "\2026";
    width: 0px;
}

#downloadbtn {
    position: absolute;
    bottom: 0;
    right: 0;
    text-decoration: none;
    margin: 15px 20px;
    color: grey;
}

#downloadbtn:active {
    margin: 14px 20px;
    border-bottom: 1px solid grey;
}

@keyframes ellipsis {
    to {
        width: 1.25em;
    }
}

@-webkit-keyframes ellipsis {
    to {
        width: 1.25em;
    }
}